@use "../../styles/variable";

.label {
  color: variable.$black;
}
.inputContainer {
  position: relative;
  width: fit-content;
}
.input {
  background-color: variable.$light;
  outline: none;
  border: none;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.button {
  cursor: pointer;
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  height: 100%;
}
