@use "../../styles/variable";
.button {
  cursor: pointer;
  background-color: variable.$primary;

  border: none;
  border-radius: 10px;
  font-weight: 600;

  width: 100%;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: variable.$primary--hover;
}
