@use "../../styles/variable";
.button {
  cursor: pointer;
  background-color: variable.$primary;

  border: none;
  border-radius: 10px;
  font-weight: 600;
}

.button:hover {
  background-color: variable.$dark;
}
